@import url('https://fonts.googleapis.com/css2?Roboto+Slab:wght@300;400;500&family=Source+Serif+Pro:wght@300;400&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}
@media (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

body {
  font-family: 'Source Serif Pro', serif;
  font-weight: 300;
  font-size: 2rem;
  line-height: 1.7;
  color: #777;
  background-color: slateblue;
  padding: 3rem;
}

h1,
p,
ul,
ol {
  margin-top: 1.8rem;
  margin-bottom: 1.8rem;
}

h2 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

h3,
h4,
h5 {
  margin-top: 3.2rem;
  margin-bottom: 3.2rem;
}