.thumbnail {
  width: 20%;
  cursor: pointer;
  font-size: var(--size-4);
  font-weight: bold;
}

.thumbnail img {
  width: 100%;
  height: 15rem;
  object-fit: cover;
  border-radius: 1rem;
}

.thumbnail figcaption {
  margin: 1.5rem 0;
}

@media (max-width: 1280px) {
  .thumbnail {
    width: 21rem;
  }
}

@media (max-width: 768px) {
  .thumbnail {
    width: 100%;
    font-size: var(--size-5);
    text-align: center;
  }

  .thumbnail img {
    height: auto;
  }
}