*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  background-color: rgb(216, 221, 225);
  color: #4b4a5d;
  padding: 30px;
}

.home {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.team {
  display: flex;
  margin: 2rem;
  margin-top: 5rem;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}
