.player {
  margin: 1rem;
  width: 30rem;
  height: 30rem;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: var(--primary-color-light);
  color: var(--text-primary-color);
}

.score {
  padding: 1px;
  font-size: larger;
  font-weight: bold;
  border-radius: 2rem 2rem 0 0;
  background-color: var(--primary-color-dark);
}

.action {
  font-size: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.player-one {
  transform: rotate(90deg) scaleX(-1);
}

.player-two {
  transform: rotate(-90deg);
}
