/* =========================
Custom Input range 
=============================*/

/* Input range - chrome and safari */


.volume {
  display: flex;
  align-items: center;
}

.volume button {
  border: none;
  background-color: transparent;
  margin-right: 8px;
  cursor: pointer;
}

.volume button {
  margin: 0;
}

.volume input[type="range"] {
  --range-volume: 0;
  
  -webkit-appearance: none;
  position: relative;
  background:#ccc;
  width: 100%;
  height: 2px;
  border-radius: 2px;
  cursor: pointer;
}

/* Input range - firefox */
.volume input[type="range"]::-moz-range-track {
  position: relative;
  background:#ccc;
  width: 100%;
  height: 2px;
  border-radius: 2px;
  cursor: pointer;
}

/* played volume length - Chrome & safari*/
.volume input[type="range"]::before {
  content: '';
  height: 2px;
  background: #f50;
  width: var(--range-volume);
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
  position: absolute;
  top: 0;
  left: 0;
}

/* played volume length - firefox */
.volume input[type="range"]::-moz-range-progress {
  background: #f50;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
  height: 2px;
}

/* slider thumb - chrome and safari */
.volume input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  border: none;
  background-color: #f50;
  cursor: pointer;
  position: relative;
}

/* dragging thumb - chrome and safari */
.volume input[type="range"]:active::-webkit-slider-thumb {
  transform: scale(1.2);
}

/* slider thumb - firefox */
.volume input[type="range"]::-moz-range-thumb {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background: #f50;
  cursor: pointer;
  border: transparent;
  position: relative;
}
/* dragging thumb - firefox */
.volume input[type="range"]:active::-moz-range-thumb {
  transform: scale(1.2);
}