.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: max-content;
  margin: 0 auto;
}

.temperature {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.degrees {
  font-size: var(--size-20);
  font-weight: 500;
}

.celsius {
  font-size: var(--size-12);
  font-weight: normal;
}

.degrees,
.celsius {
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
}

.icon {
  filter: drop-shadow(1px 1px 4px rgb(0 0 0 / 0.4));
}

@media (max-width: 56.25em) {
  .icon {
    scale: 0.75;
  }
}