.main {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  margin: 10rem;
  position: relative;
  left: 0;
}

@media (max-width: 56.25em) {
 .main {
  flex-wrap: wrap;
 }
}

@media (min-width: 112.5em) {
  .main {
    position:absolute;
    left: auto;
  }
}